* src/styles/ProductInterestForm.css */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .products-container {
    max-height: 300px; /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .product-item label {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .product-name {
    flex: 1;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .product-type,
  .product-price {
    margin-left: 20px;
    font-style: italic;
    color: #555;
  }
  
  input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
  }